@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'node_modules/react-modal-video/scss/modal-video.scss'; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Source Sans Pro", "Arial", "sans-serif";
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(227, 225, 225);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#scrollnav::-webkit-scrollbar-thumb {
  background-color: rgb(227, 225, 225);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#scrollnav{
  transition: linear 0.5s;
  will-change: opacity;
  -webkit-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
}
#scrollnavs::-webkit-scrollbar-thumb {
  background-color: rgb(227, 225, 225);

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#scrollnavs{
  transition: linear 0.5s;
  will-change: opacity;
  -webkit-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
}